---
import Form from '../components/Form.astro';
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Navbar from '../components/Navbar.astro';
import Particuliers from '../components/Particuliers.astro';
import Entreprises from '../components/Entreprises.astro';
import Separator from '../components/Separator.astro';
import Technologies from '../components/Technologies.astro';
import ProfilePicture from '../components/ProfilePicture.astro';

const lang = "en";
---

<Layout title="LeoT | Portfolio">

   <Navbar lang={lang} />

   <main
      class="mt-16 scroll-mt-36"
      id="home"
   >
      <ProfilePicture lang={lang} />
      <Separator />

      <section id="about">
         <About lang={lang} />
      </section>

      <section id="technologies">
         <Technologies lang={lang} />
      </section>

      <section id="entreprise">
         <Entreprises lang={lang} />
      </section>

      <section id="particulier">
         <Particuliers lang={lang} />
      </section>

      <section id="blog" class="flex flex-col items-center justify-center py-16 text-center">
      <h2 class="cursor-pointer font-bold w-fit md:mx-0 md:ml-5 sm:text-5xl xs:text-[20px] xs:mx-auto mb-8">Blog : "La Tech Simple"</h2>

      <a href="/blog" class="inline-block p-5 border border-gray-300 rounded-lg text-black bg-white hover:scale-105 hover:shadow-lg transition-transform">
         Tout le monde pratique l’ingénierie système… même toi! [Cliquer pour lire l'article]
      </a>
      </section>

      <section id="contact">
         <Form lang={lang} />
      </section>

   </main>

</Layout>